<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- NOTE check that the Copy to Output Directory is set to Copy always so that it can be used in the test -->
  <appSettings>
    <add key="Test" value="A test appSettings key to prove test service integration works" />
  </appSettings>
</configuration>