@{
    ViewBag.Title = "Server Dashboard";
}

@section Breadcrumbs {
<li>@Html.ActionLink("Home", "Index", "Server")</li>
<li>@Html.ActionLink("Server", "Index", "Server")</li>
<li class="active"><i class="fa fa-dashboard"></i> Dashboard</li>
}

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-4">
            <!-- Logs box -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Logs</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    List of logs here<br />
                    List of logs here<br />
                    List of logs here
                </div><!-- /.box-body -->
                <div class="box-footer">
                </div><!-- /.box-footer-->
            </div><!-- /.box -->
        </div>
        <div class="col-md-8">
            <!-- Configuration box -->
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">Configuration</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    The configuration inforamtion goes here.
                </div><!-- /.box-body -->
                <div class="box-footer">
                    <small>Note: Information only - server updates must be done on the server.</small>
                </div><!-- /.box-footer-->
            </div><!-- /.box -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <!-- CPU performance box -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">CPU Performance</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    CPU graph here
                </div><!-- /.box-body -->
                <div class="box-footer">
                    <small>Note: update frequency is 1 minute.</small>
                </div><!-- /.box-footer-->
            </div><!-- /.box -->
        </div>
        <div class="col-md-6">
            <!-- Memory box -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Memory Performance</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    Memory graph here
                </div><!-- /.box-body -->
                <div class="box-footer">
                    <small>Note: update frequency is 1 minute.</small>
                </div><!-- /.box-footer-->
            </div><!-- /.box -->
        </div>
    </div>
</section><!-- /.content -->