@{
    ViewBag.Title = "Service App Metrics";
}

@section Breadcrumbs {
    <li>@Html.ActionLink("Home", "Index", "Server")</li>
    <li>@Html.ActionLink("Applications", "Index", "ServiceApps")</li>
    <li class="active"><span class="glyphicon glyphicon-stats"></span> Metrics</li>
}

@section Scripts {
    <script type="text/javascript">
    </script>
}

<!-- Graph box -->
<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Coming soon...</h3>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-sm-12">
                Date Filter
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div style="height: 300px">
                    <div style="overflow-y: auto">
                        Service App
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                <div id="ServiceAppGraph" style="position: relative; height: 300px;">
                    Chart
                </div>
            </div>
        </div>
    </div><!-- /.box-body -->
    <div class="box-footer">
    </div><!-- /.box-footer-->
</div><!-- /.box -->

<!-- Details Box -->
<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">List view</h3>
    </div>
    <div class="box-body">
    </div><!-- /.box-body -->
    <div class="box-footer">
    </div><!-- /.box-footer-->
</div><!-- /.box -->