<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <!-- The Windows service component settings -->
    <add key="ServiceDescription" value="The agent for the Service Application Container Server which manages the scheduling and execution of custom built services." />
    <add key="ServiceDisplayName" value="SACS - Windows Service Agent" />
    <add key="ServiceName" value="SACS.Agent" />
    <add key="AppListLocation" value="Applist.xml" />
    <!-- The Health Monitor component settings -->
    <!-- http://www.csgnetwork.com/crongen.html -->
    <add key="Monitor.Schedule" value="*/1 * * * *" />
    <!-- System settings -->
    <add key="System.SupportEmailAddress" value="projectspam@openboxsoftware.com" />
    <add key="System.DefaultPagingSize" value="50" />
    <!-- Coommunications -->
    <add key="WebAPI.BaseAddress" value="http://localhost:3800/" />
    <!-- Security -->
    <add key="Security.EntropyValue" value="N8F8RQsLkvz06QSYm76Hv3MP9Z364fth" />
    <!-- Performance monitoring settings -->
    <add key="Performance.GraphMaxPoints" value="50" />
    <add key="Performance.GraphThreshold" value="0.15" />
  </appSettings>
  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="Logs/SACS_logs.xml" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="4MB" />
      <!-- TODO: this may slow down the logging speed. double check that. -->
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.XmlLayoutSchemaLog4j">
        <locationInfo value="true" />
      </layout>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
    </appender>
    <root>
      <!-- Logging levels: DEBUG, INFO, WARN, ERROR, FATAL -->
      <!-- Change the level to DEBUG to capture that level of logging. NOTE there are a lot of DEBUG statements scattered throughout so be careful when using this in production -->
      <level value="DEBUG" />
      <appender-ref ref="RollingFileAppender" />
    </root>
    <logger name="SACS.WindowsService.Components">
      <!-- Logging levels: DEBUG, INFO, WARN, ERROR, FATAL -->
      <level value="DEBUG" />
      <appender-ref ref="ConsoleAppender" />
    </logger>
  </log4net>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlCeConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="System.Data.SqlServerCe.4.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="SACSEntitiesContainer" connectionString="metadata=res://*/Entitites.SACSEntities.csdl|res://*/Entitites.SACSEntities.ssdl|res://*/Entitites.SACSEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\v11.0;attachdbfilename=|DataDirectory|\SACS.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="SpecifiedPickupDirectory">
        <specifiedPickupDirectory pickupDirectoryLocation="C:\EmailTest" />
      </smtp>
    </mailSettings>
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>