@model IEnumerable<string>

@if (Model != null)
{ 
    foreach (var log in Model.OrderBy(m => m).Select(m => Path.GetFileName(m)))
    {
        <div class="row">
            <div class="row-border"></div>
            <div class="col-xs-8">
                @log
            </div>
            <div class="col-xs-4 text-right">
                @Html.ActionLink("View", "Detail", "Logs", new { id = log, p = 0 }, new { @class = "btn btn-default btn-sm" })
            </div>
        </div>
    }
}

@if (ViewBag.ErrorMessage != null)
{
    <span class="text-danger"><span class="glyphicon glyphicon-exclamation-sign"></span> @ViewBag.ErrorMessage</span>
}