@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h2 class="text-danger">An error occurred while processing your request.</h2>
<h3>@ViewBag.Message</h3>
<p>
    @ViewBag.StackTrace
</p>

@if (ViewBag.InnerExceptionMessage != null)
{
    <div style="padding-left: 15px;">
        <h4>@ViewBag.InnerExceptionMessage</h4>
        <p>
            @ViewBag.InnerExceptionStackTrace
        </p>
    </div>
}