@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h2 class="text-danger">An error occurred while processing your request.</h2>
<h3>@ViewBag.Message</h3>
<p>
    @ViewBag.StackTrace
</p>

