@{
    ViewBag.Title = "Help File";
}

@section Breadcrumbs {
    <li>@Html.ActionLink("Home", "Index", "Server")</li>
    <li>@Html.ActionLink("Documentation", "Index", "Help")</li>
    <li class="active"><span class="glyphicon glyphicon-question-sign"></span> Help</li>
}

<iframe class="full-height-content whitewashed" src="@Url.Content("~/Content/Help/SACSHelp.html")">

</iframe>
